.navigation {
  display: flex;
  justify-content: space-evenly;
  background: var(--color-primary);
  height: 100%;
  padding: 12px;
}

.navigation__link {
  background-color: inherit;
  border: none;
  color: var(--color-white);
}

.navigation__link--active {
  background-color: steelblue;
}
